header{
    display: grid;
    grid-template-columns: 20% auto;
    gap: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
div.main{
    background-color: rgba(255, 0, 93, 0.129);
    display: grid;
    grid-template-rows:  180px 100px 120px auto auto;
    gap: 5px;
}
.secondary{
    border:  solid 5px rgb(255, 255, 255);
}
.book{
    border: solid 2px rgba(255, 0, 93, 0.814);
    color: rgb(41, 41, 41);
}
div.book.side{
    height: 500px;
    text-align: center;
}
.two>h1{
    text-align: center;
    font-size: 60px;
}
.three>h2,.four>p,.five>p,.lien>p{
    text-align: end;
    
    padding: 10px;
}
.checked{
    color: yellow;
}
@media(max-width:815px) {
    .two>h1{
        text-align: center;
        font-size: 25px;
        margin-top: 17%;
    }
    header{
        display: flex;
        flex-direction: column;
        
    }
    div>img{
        width: 200px;
    }
}
footer>.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
}

/* Add a hover effect if you want */
footer>.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
footer>.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
footer>.fa-instagram {
    background: #ee5555;
    color: white;
}
footer{
    margin: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.four>p,.five>p{
    font-size: 25px;
    text-align: justify;
    
}
#z{
    text-align: end;
}